
/* universal */

*{
    margin: 0;
    padding: 0;
}

/* ---------- */


header{
    
  
    background-color: rgba(18, 31, 58, 0.973);
    height: 1322px;
    width: 100%;
    box-shadow: 10px 10px 10px black;

}


/* nav style */

nav{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.nav-h2{
    font-size:45px ;
    color: rgb(219, 236, 213);
    margin-left: -200px;
    
   
}
.nav-p{
    margin-right: -200px;
}
.nav-p a{
font-size: 18px;
text-decoration: none;
color: rgb(219, 236, 213);
padding-left: 25px;

}


/* Banner style */
.banner-heading{
    text-align: center;
    margin-top: 100px;

}

.banner-header-h1{
    font-size: 45px;
    color: rgb(219, 236, 213);
}

.banner-header-p{
    font-size: 16px;
    color: rgb(219, 236, 213);
    padding: 0 30%;
    margin-top: 20px;
   

}
.banner-img{
    width: 80%;
    height: 700px;
    background-color: #424242;
    margin: 50px 10% 50px 10%;
    border-radius: 8px;
    border-bottom: 50px solid rgb(0, 0, 0);
    border-radius: 30%;
    border-top: 30px solid rgb(0, 0, 0);
}
.banner-img img{
    width: 100%;
    height: 100%;
    border: 10px solid black;
   
    
}
.banner-btn{
    text-align: center;
}
.banner-btn button{
    width: 180px;
    height: 64px;
    font-size: 20px;
    color: #ffffff;
    background-color: #881b1b;
    border-radius: 8px;
    padding: 20px 25px;
    box-shadow: 10px 10px 10px rgb(27, 23, 23);
    margin-top: 30px;
}
.banner-btn button:hover{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    
   
}


/*  article  */

article{
    
    display: flex;
    margin: 100px 13% 0 15%;
    gap: 70px;
}
.article-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    
}
.article-img{
    border: 10px solid rgb(109, 1, 1);
    
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.article-container{
    width: 500px;
    height: 304px;
    margin-top: 230px;
    
   
}
.article-h2{
    font-size: 45px;
    color:#2d1c5a ;
}
.article-span{
    font-size: 45px;
    color:#ffae00
    ;
}
.article-h1{
    font-size: 45px;
    color:#fa0000 ;
}

.article-p{
    font-size: 16px;
    margin-top: 24px;
    color: #727272;
}
.article-btn{
    margin-top: 32px;
    width: 180px;
    height: 64px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff0e0e;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    box-shadow: 5px 5px 10px #493a29;
    
}

/* Blog */
.blog{
    margin-top: 200px;
}
.blog-container{
    display: flex;
    width: 80%;
    height: 1059px;
  gap: 50px;
    margin: 50px 10% 50px 10%;
    border-radius: 8px;

}
.blogs-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 50px;
}
.blogs-title-container{
    width: 586px;
    border-left:  5px solid #FF900E;
    height: 100px;
    padding-top: 30px;
    

}

.blogs-title-h1{
    font-size: 45px ;
    color: #131313;
    padding: 0 30px 0 30px;
}
.blogs-title-p{
    color: #727272;
    font-size: 16px;
    width: 450px;
}

.blogs{
    border-radius: 15px;
    border-top: 30px solid rgb(1, 255, 107);
    
    background-color: #fffafa;

    width: 450px;
    height: 150px;

    box-shadow: 20px 20px 10px rgb(53, 49, 49);
    
}
.blogs-h3{
    
    font-size: 20px;
    color: #131313;
    padding: 30px 30px 5px 30px ;
}
.blogs-p{
    font-size: 16px;
    color: #727272;
    padding: 5px 30px;
}
.blog-img{
   border: 30px solid  rgb(1, 255, 107) ;
   
    border-radius: 50%;
    
    
}
.blog-img img{
    border: 10px solid rgb(41, 20, 20);
   
}

.experience{
    background-color: #ff0e0e;
    width: 250px;
    height: 150px;
    border-radius: 8px;
    text-align: center;
    margin-left: 40%;
    margin-top: 200px;
    box-shadow: 10px 10px 10px black;
    
}
.experience-h1{
    font-size: 45px;
    color:  #FFFFFF;
    padding-top: 40px;

}
.experience-h3{
    font-size: 25px;
    color: #fffafa;
    margin-top: 5px;

}

/* Some Facts*/

.section-facts{
   
    width: 80%;
   
  
    margin: 100px 10% 50px 10%;
   

}

.facts-h1{
    font-size: 45px ;
    color: #131313 ;
    
}
.facts-p{
    font-size: 16px;
    color: #727272;
    width: 552px;
    margin-top: 25px;

}

.facts-container-div{
 display: flex;
 justify-content: space-around;
}

.facts-div{
    width: 248px;
    height: 248px;
    border: 5px solid white;
    border-radius: 8px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 10px 10px 10px rgb(41, 33, 33);
    background-color:   #36191b;
}

.facts-div:hover{
    background: red;
  

}

.facts-div img{
    margin-top: 45px;
    
}
.facts-div h1{
    margin-top: 10px;
    font-size: 45px;
    background-color: rgb(255, 255, 255);
    color: rgb(44, 17, 17);
    

}
.facts-div p{
margin-top: 5px;
font-size: 20px;
color: #dddddd ;
}

/* Our sponsors */

.section-sponsor{
    width: 80%;
    margin: 200px 10% 50px 10%;
   
}

.sponsor-title-container{
   text-align: center;
}

.sponsor-h1{
    font-size: 45px ;
    color:#5a0e0e ;
    margin-bottom: 25px;
   
}

.sponsor-p-1, .sponsor-p-2{
    margin-bottom: 5px;
    font-size: 16px ;
    color: #727272;
   
}

.logo{
    display: flex;
    justify-content: space-between;
   
    margin-top: 50px;
}

.logo-img img{
    height: 50px;
    width: 150px;
}

/* form section*/
.form-section {
width: 80%;
height: 400px;  
background-color:  rgb(33, 100, 61) ;
margin: 200px 10% 50px 10%;
border-radius: 30px;

}
.form{
    padding-top: 80px;
    margin-left: 33%; 
  ;
    
}
.form-section input{
    display: block;
    height: 30px;
    width: 500px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f7f4f4;
    
   

}

.form-btn{
    width: 150px;
    height: 70px;
    background-color:rgb(30, 41, 90);
    font-size: 16px;
    color: white;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    margin-left: 180px;
    box-shadow: 5px 5px 5px black;
}

/* footer */
footer{
    width: 80%;
    height: 100px;
    margin: 200px 10% 50px 10%;
   
    background-color: rgba(18, 31, 58, 0.973);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.footer-p{
    font-size: 20px;
    color:rgb(219, 236, 213);
}
